/* This is css file */

/* color palette */

/*

#3C41D6
#373DED
#353BE6
#373DED
#383EE6
#4FC96E
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  background-color: white;
  width: 100vw;
  font-family: "Noto Sans", sans-serif;
}

nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 2px 0 black;
}

nav a {
  color: #000000;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  background-color: #4fc96e;
  color: #ebe9e4;
}

nav a.active {
  background-color: #4fc96e;
  color: #ebe9e4;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.quote {
  text-align: center;
  font-size: 24px;
  padding: 1.5em;
}

.padding-tb {
  padding-top: 1em;
  padding-bottom: 1em;
}

.white {
  color: #ffffff;
}

#home {
  background-color: #ffffff;
}

.hero-banner {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #ffffff;

  background-image: url("Images/hero.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-banner h1 {
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0.5em;

  text-shadow: 0 5px 0 black;
}

.hero-banner p {
  font-size: 2.5em;
  display: block;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

/* Create two equal columns that floats next to each other */
.column-1 {
  float: left;
  width: 47%;
  padding: 10px;
}

.column-2 {
  width: 49%;
  padding: 10px;
  float: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

footer a {
  text-decoration: none;
}

#about {
  background-color: #4fc96e;
  text-align: center;
  color: #ffffff;
  height: 450px;
}

#hobbies {
  background-color: #4fc96e;
  text-align: center;
  color: #ffffff;
  height: 450px;
  margin-top: 3em;
}

#skills {
  background-color: #ffffff;
  height: 450px;
  margin-top: 3em;
}

#projects {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
}

.btn {
  display: block;
  width: 200px;

  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  color: #ffffff;
  text-decoration: none;
  font-size: 1.5em;
  text-align: center;

  border: 3px solid #4fc96e;
  border-radius: 20px;

  background-color: rgba(79, 201, 110, 0.7);
  box-shadow: 0 0 5px 0 black;
}

.card-text {
  font-size: 16px;
  padding: 1.5em;
}

.circle-img {
  border-radius: 50%;
}

.footer-links {
  background-color: #4fc96e;
  padding-top: 0.5em;
  color: #ffffff;
}
